body {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url(../img/header.jpg);
  height: 1024px;
}

.header-menu {
  display: flex;
  padding: 40px 0 0 0;
}

.header-menu-logo {
  margin: 0 0 0 376px;
  display: flex;
  align-items: center;  
  text-decoration: none;
  width: 181px;
}

.header-menu-logo:hover .logo-svg,
.header-menu-logo:hover .header-menu-logo-title {
      fill: #c7b299;
      color: #c7b299;
}

.header-menu-logo:active .logo-svg,
.header-menu-logo:active .header-menu-logo-title {
      fill: black;
      color: black;
}

.logo-svg {
  width: 64px;
  height: 56px;
  fill: #fff;
}

.header-menu-logo-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400; 
  letter-spacing: 1.36px;
  margin: 0 0 0 2px;
}

.header-menu-nav, 
.header-menu-nav ul{
  display: flex;
  align-items: center;
} 

.header-menu-nav ul:before{
  content:"";
  margin: 0 0 0 220px;
}

.header-menu-nav-link {
  min-width: 30px;
  height: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  margin: 0 30px 0 0;
  list-style: none;
}

.header-menu-nav-link a {
  text-decoration: none;
  color: #ffffff;
}

.header-menu-nav-link a:hover {
  color: #c7b299;
}

.header-menu-nav-link a:active {
  color: black;
}

.header-menu-button {
  margin: 0 0 0 30px;
}

.header-menu-button-svg:hover {
    fill: #c7b299;
}

.header-menu-button-svg:active {
    fill: black;
}

.header-menu-button-svg {
  fill: #fff;
  width: 18px;
  height: 24px;
}

.header-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 285px 0 0 0;
}

.header-carousel-title-h2 {
    min-width: 456px;
    min-height: 10px;
    margin: 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.header-carousel-title-h1 {
    min-width: 589px;
    min-height: 10px;
    margin: 14px 0 19px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 52px;
    font-weight: bold;    
}

.header-carousel-paragraph {
    width: 570px;
    min-height: 39px;
    margin: 0 0 52px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    white-space: wrap;
}

.header-carousel-button {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
    line-height: 53px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header-carousel-button:hover {
      filter: brightness(60%)
}

.header-carousel-button:active {
    background-color: dimgray;
}

.slider-arrow {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.slider-arrow:nth-of-type(1) {
    margin: 94px 0 0 150px;
    transform: rotate(-45deg);
}

.slider-arrow:nth-of-type(2) {
    margin: 94px 150px 0 0;
    transform: rotate(135deg);
}

.slider-arrow:hover {
    border-color: #c7b299;
}

.slider-arrow:active {
    border-color: black;
}

.header-carusel-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 310px 0 0 0;
}

.header-carusel-pagination-item {
    display: block;
    width: 11px;
    height: 11px;
    margin: 0 9px 0 0;
    border-radius: 50%;
    background-color: #fff;
}

.header-carusel-pagination-item:hover {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #c7b299;
    box-sizing: border-box;
    transform: scale(1.6);
}

.header-carusel-pagination-item:active {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    transform: scale(1.6);
}

.change-figure {
    margin: 80px 0 0 0;
    height: 290px;
    display: flex;
    justify-content: center;
    color: #555555;
}

.change-figure-element:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.change-figure-element:hover:after {
    background-color: #c7b299;
}

.change-figure-element:active:after {
    background-color: black;
}

.change-figure-element {
    margin: 0 33px 0 0;
    width: 280px;
    text-align: center;
}

.change-svg {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 44px;
    height: 40px;
    fill: #555555;
}

.change-figure-span {
    display: block;
    margin: 30px 0 0 0;
    height: 21px;
    color: #555555;
    font-family: Raleway;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.change-figure-element:hover .change-svg,
.change-figure-element:hover .change-figure-span {
    color: #c7b299;
    fill: #c7b299;
}

.change-figure-p {
    display: block;
    margin: 20px 0 30px 0;
    width: 266px;
    height: 62px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.change-ideas {
    height: 700px;
    background-color: #fbfaf8;
    text-align: center;
}

.change-ideas-title {
    display: block;
    min-width: 500px;
    height: 28px;
    margin: 0 0 24px 0;
    padding: 80px 0 0 0;
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}

.change-ideas-txt {
    display: block;
    width: 770px;
    margin: 0 auto;
    padding: 0 0 32px 0;
    min-height: 43px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.change-ideas-pic {
    margin: 0 auto;
    width: 64%;
    height: 482px;
    background-image: url(../img/browser-center.jpg),
                      url(../img/browser-left.jpg),
                      url(../img/browser-right.jpg);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}

.advertising {
    height: 150px;
    background-image: url(../img/aside.jpg); 
    display: flex;
}

.advertising-txt {
    padding: 48px 0 49px 376px;
    display: block;
    width: 530px;
}

.advertising-title {
    width: 530px;
    height: 27px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
}

.advertising-title span {
    color: #c7b299;
}

.advertising-paragraph {
    height: 18px;
    color: #615855;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;    
}

.advertising-button {
    display: block;
    width: 170px;
    height: 53px;
    margin: 50px 0 0 470px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
    line-height: 53px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.advertising-button:hover {
      filter: brightness(60%)
}

.advertising-button:active {
    background-color: dimgray;
}









.projects {
    height: 1162px;
    border: 1px solid;
}

.projects-title {
    display: block;
    margin: 81px 0 24px 0;
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.projects-paragraph {
    display: block;
    margin: 0 auto;
    width: 780px;
    min-height: 43px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;  
    text-align: center;
}

.projects-menu {
    text-align: center;
    margin: 40px 0 25px 0;
    min-height: 30px;
}

.projects-menu-link {
    min-width: 70px;
    height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 10px 24px 10px 24px;
    margin: 0 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 83px;
    height: 14px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;    
}

.projects-menu-link:hover {
    background-color: #998675;
    color: #fff;
}

.projects-menu-link:active {
    background-color: dimgray;
    color: #fff;
}

.projects-pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 0 25px 0;
    width: 80%;
}

.projects-pic-item {
    width: 370px;
    height: 337px;
    margin: 15px;
    background-color: #fbfaf8;
}

.projects-pic-item:hover {
    background-color: #362f2d;
}

.projects-pic-item:hover .projects-pic-item-txt:before {
    border-bottom: 10px solid #362f2d;   
}

.projects-pic-item:hover .projects-pic-item-img{
    filter: brightness(40%);
}

.projects-pic-item:hover .projects-pic-txt-title {
    color: #fff;
}

.projects-pic-item:hover .projects-pic-txt-paragraph {
    color: #c7b299;
}

.projects-pic-item-img {
    width: 370px;
    height: 237px;
    display: block;
    width: 100%;
}

.projects-pic-item-txt {
    position: relative;
    height: 100px
}

.projects-pic-item-txt:before {
  content: "";
  border: 10px solid transparent; 
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -50px;
  left: 20px;
}

.projects-pic-txt-title {
    display: block;
    width: 240px;
    height: 15px;
    margin: 30px 0 14px 28px;
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.projects-pic-txt-paragraph {
    display: block;
    width: 150px;
    height: 14px;
    margin: 0 0 0 28px;
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.projects-button {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
    line-height: 53px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.projects-button:hover {
      filter: brightness(60%)
}

.projects-button:active {
    background-color: dimgray;
}












